body {
  margin: 0;
  background: url("/logo1.png") no-repeat center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}
main {
  display: flex;
  justify-content: space-around;
}
.main-container {
  display: none;
  flex-direction: column;
  height: auto;
  width: 450px;
  padding: 40px;
}
p {
  font-size: 20px;
}
h3 {
  font-size: 25px;
}
.first-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  background-image: linear-gradient(
    to bottom,
    rgba(116, 240, 240, 0.8),
    rgb(164, 244, 250)
  );
}
.row-style {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  background-image: linear-gradient(to bottom, rgb(129 233 233 / 20%), white);
}

h1 {
  text-align: center;
}

p,
h3 {
  padding: 0 10px;
}

@media only screen and (max-width: 600px) {
  h3,
  p {
    font-size: 15px;
  }
}
