body {
  margin: 0;
  background: url("/logo1.png") no-repeat center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}
main {
  display: flex;
  justify-content: space-around;
}
.main-container {
  display: none;
  flex-direction: column;
  height: auto;
  width: 450px;
  padding: 40px;
}

.row-style {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  background-image: linear-gradient(to bottom, rgb(129 233 233 / 50%), white);
}

h1 {
  text-align: center;
}

p,
h3 {
  padding: 0 10px;
}
